# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Melissa Silva\Desktop\FEUP\2º ano\Primeiro semestre\AEDA\aeda2021_fp01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
